@tailwind base;
@tailwind components;
@tailwind utilities;

.app-logo {
  animation: app-logo-spin infinite 20s linear;
}

.loading-bar {
  background: linear-gradient(120deg, #2cb1bc 0%, #e0fcff 100%) 0% 0% repeat;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
